<div  class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
         <img src="../../../assets/foto.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Villalba Camila Vanesa</p>
        <p >FULL STACK JUNIOR</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <samp> 
            <h2>ACERCA DE MI</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Blanditiis sapiente ullam officia soluta nemo eaque, 
                dignissimos fugit. Modi, inventore. Alias suscipit natus
                 a odio dignissimos nulla modi labore unde numquam!</p>
        </samp>
    </div>
</div>
 
