.row{
    background-color: rgb(36, 32, 37);
    padding: 25px; 
    color: wheat;
    box-shadow: 2px -2px 5x;
}
h1{
    
    display: inline;
    color:wheat;
    font-style:oblique;
    font-family: Courier New;
}
