<div class="row">
    <h1> ESTUDIOS</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li> <h2> Estudios 1 </h2> - <h3>(years)</h3>
                  <p>Lorem ipsum  dolor sit, amet consectetur adipisicing elit. Necessitatibus commodi nisi accusamus voluptas. Illo tempora libero voluptatibus asperiores praesentium nulla quam recusandae necessitatibus molestiae, odio incidunt architecto et error aperiam.</p>
        </ul>
        <ul>
            <li> <h2> Estudios 2 </h2> - <h3>(years)</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus commodi nisi accusamus voluptas. Illo tempora libero voluptatibus asperiores praesentium nulla quam recusandae necessitatibus molestiae, odio incidunt architecto et error aperiam.</p>
        </ul>
        <ul>
            <li> <h2> Estudios 3 </h2> - <h3>(years)</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus commodi nisi accusamus voluptas. Illo tempora libero voluptatibus asperiores praesentium nulla quam recusandae necessitatibus molestiae, odio incidunt architecto et error aperiam.</p>
        </ul>
    </div>
</div>

